.navbar {
  justify-content: space-between;
}

.navbar-link {
  text-decoration: none;
  padding-right: 1rem;
  color: #ddd;
  font-weight: 400;
}

.active-link {
  font-weight: 500;
  color: #fff;
}
