<app-navbar></app-navbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Create a new Payement Account</h2>
      </div>
      <form (ngSubmit)="onSubmit()" name="clientForm" [formGroup]="clientForm">
        <div class="form-container">
          <div>
            <mat-form-field class="list">
              <mat-label>Payement Accounts</mat-label>
              <mat-select formControlName="ceiling">
                <mat-option
                  *ngFor="let account of accounts"
                  [value]="account.value"
                >
                  {{ account.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="clientForm.get('account')?.errors?.['required']"
              >
                Account Type is Required
              </mat-error>
            </mat-form-field>
          </div>
          <br />
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input
                formControlName="username"
                matInput
                required
                placeholder="Enter Phone Number"
              />
              <mat-error
                *ngIf="clientForm.get('username')?.errors?.['required']"
              >
                Phone Number is Required
              </mat-error>
              <mat-error
                *ngIf="clientForm.get('username')?.hasError('minlength')"
              >
                Phone Number must be at least 10 characters long
              </mat-error>
              <mat-error
                *ngIf="clientForm.get('username')?.errors?.['pattern']"
              >
                Phone Number should contain only digits
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                formControlName="firstName"
                matInput
                required
                placeholder="Enter First Name"
              />
              <mat-error
                *ngIf="clientForm.get('firstName')?.errors?.['required']"
              >
                First Name is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                formControlName="lastName"
                matInput
                required
                placeholder="Enter Last Name"
              />
              <mat-error
                *ngIf="clientForm.get('lastName')?.errors?.['required']"
              >
                Last Name is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                matInput
                placeholder="Enter Email"
              />
              <mat-error *ngIf="clientForm.get('email')?.errors?.['email']">
                Enter a Valid Address Email
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button
            style="height: 50px"
            mat-flat-button
            color="primary"
            class="full-width form-submit"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
