<app-navbar></app-navbar>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Add a Client</h2>
      </div>
      <form (ngSubmit)="onSubmit()" name="clientForm" [formGroup]="clientForm">
        <div class="form-container">
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input formControlName="phoneNumber" matInput required placeholder="Enter Phone Number" />
              <mat-error *ngIf="clientForm.get('phoneNumber')?.errors?.['required']">
                Phone Number is Required
              </mat-error>
              <mat-error *ngIf="clientForm.get('phoneNumber')?.hasError('minlength')">
                Phone Number must be at least 10 characters long
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input formControlName="firstName" matInput required placeholder="Enter First Name" />
              <mat-error *ngIf="clientForm.get('firstName')?.errors?.['required']">
                First Name is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input formControlName="lastName" matInput required placeholder="Enter Last Name" />
              <mat-error *ngIf="clientForm.get('lastName')?.errors?.['required']">
                Last Name is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput placeholder="Enter Email" />
              <mat-error *ngIf="clientForm.get('email')?.errors?.['email']">
                Enter a Valid Address Email
              </mat-error>
            </mat-form-field>
          </div>

          <!-- ---------------plafond non ajouté------------------------------------------------------------------------------------- -->
          <!-- <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Plafond</mat-label>
              <mat-select formControlName="plafond">
                <mat-option
                  *ngFor="let option of plafondOptions"
                  [value]="option.value"
                >
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <!-- ---------------------------------------------------------------------------------------------------- -->
        </div>
        <div>
          <button style="height: 50px" mat-flat-button color="primary" class="full-width form-submit">
            Submit
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>