<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Sign In</h2>
      </div>
      <form (ngSubmit)="onSubmit()" name="signinForm" [formGroup]="signinForm">
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              required
              placeholder="Enter Email"
            />
            <mat-error *ngIf="signinForm.get('email')?.errors?.['required']">
              Email Address is Required
            </mat-error>
            <mat-error *ngIf="signinForm.get('email')?.errors?.['email']">
              Enter a Valid Address Email
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="hide ? 'password' : 'text'"
              required
              placeholder="Enter Password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="signinForm.get('password')?.errors?.['required']">
              Password is Required
            </mat-error>
            <mat-error
              *ngIf="signinForm.get('password')?.hasError('minlength')"
            >
              Password must be at least 6 characters long
            </mat-error>
          </mat-form-field>
        </div>
        <button
          style="height: 50px"
          mat-flat-button
          color="primary"
          class="full-width"
        >
          Sign In
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
